@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

body {
    background-color: #f1eef1;
    font-family: 'Trebuchet MS', 'Arial';
    margin: 0;
}

a {
    text-decoration: none;
}

.contextMenu {
    position: absolute;
    text-align: center;
    background: #8ab1c4;
    border: 1px solid #007aa2;
}

.contextMenu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.contextMenu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid #007aa2;
}

.contextMenu ul li a {
    color: black;
}

.contextMenu ul li:hover {
    background: #f4c7a7;
}

.head {
    padding: 5px;
    background-color: #007aa2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.left img {
    width: 20%;
    height: 20%;
}

.right {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-evenly;
    background-color: #f4c7a7;
    padding: 5px;
}

.button a {
    padding: 5px;
    color: black;
}

.button a:hover {
    background-color: #007aa2;
    color: #f1eef1;
}

.files {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.file {
    display: flex;
    flex-direction: row;
    padding: 7px;
    border: black solid;
    border-radius: 20px;
    flex-basis: 40%;
    margin: 5px;
}

.file img {
    width: 50pt;
}

.file img .size:hover {
    width: 600pt;
}

.file label {
    background: #f1eef1;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.pages {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.pages a {
    padding-left: 10px;
}

.way {
    background-color: #ac7447;
    color: #f1eef1;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.selected {
    background-color: #007aa2;
}

.selected label {
    background-color: #007aa2;
}

.popup-window {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.popup-close {
    color: #aaa;
    line-height: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.popup-close:hover {
    color: black;
}

.file-input {
    display: flex;
    justify-content: center;
}

.file-input .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #007aa2, #f4c7a7);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.file-input input:hover+label,
.file-input input:focus+label {
    transform: scale(1.02);
}

.file-input input:focus+label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
}


.form {


    .item {
        margin: 5px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 50px 0 50px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


    /* Button Styles */

    .button {
        display: inline-flex;
        height: 40px;
        width: 150px;
        border: 2px solid #f1eef1;
        margin: 20px 20px 20px 20px;
        color: #f1eef1;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    a {
        background-color: #ac7447;
        color: #f1eef1;
        text-decoration: none;
        letter-spacing: 1px;
    }


    /* First Button */

    .arrow-hover {
        width: 15px;
        height: 10px;
        position: absolute;
        transform: translateX(60px);
        opacity: 0;
        -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
        transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
        margin: 0;
        padding: 0 5px;
    }

    .buttonArrow:hover img {
        width: 15px;
        opacity: 1;
        transform: translateX(50px);
    }
}




@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    font-family: "Roboto";
}

div.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    padding: 21px;
    border-radius: 4px;
}

h4.title {
    text-align: center;
    margin-bottom: 45px;
}

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;

}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Input*/
.omrs-input-underlined>input,
.omrs-input-filled>input {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    height: 3rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
}

.omrs-input-underlined>input:focus,
.omrs-input-filled>input:focus {
    outline: none;
}

.omrs-input-underlined>.omrs-input-label,
.omrs-input-filled>.omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
}

.omrs-input-underlined>svg,
.omrs-input-filled>svg {
    position: absolute;
    top: 0.9375rem;
    right: 0.875rem;
    fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined>.omrs-input-helper,
.omrs-input-filled>.omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--omrs-color-ink-medium-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-underlined>input:hover,
.omrs-input-filled>input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined>input:focus+.omrs-input-label,
.omrs-input-underlined>input:valid+.omrs-input-label,
.omrs-input-filled>input:focus+.omrs-input-label,
.omrs-input-filled>input:valid+.omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
    ;
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus+.omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger)>input:focus+.omrs-input-label {
    color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus,
.omrs-input-filled:not(.omrs-input-danger)>input:focus {
    border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus~svg,
.omrs-input-filled:not(.omrs-input-danger)>input:focus~svg {
    fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined>input:disabled {
    background: var(--omrs-color-bg-low-contrast);
    cursor: not-allowed;
}

.omrs-input-underlined>input:disabled+.omrs-input-label,
.omrs-input-underlined>input:disabled~.omrs-input-helper {
    color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined>input:disabled~svg {
    fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger>.omrs-input-label,
.omrs-input-underlined.omrs-input-danger>.omrs-input-helper,
.omrs-input-filled.omrs-input-danger>.omrs-input-label,
.omrs-input-filled.omrs-input-danger>.omrs-input-helper {
    color: var(--omrs-color-danger);
}

.omrs-input-danger>svg {
    fill: var(--omrs-color-danger);
}

.omrs-input-danger>input {
    border-color: var(--omrs-color-danger);
}

.omrs-input-underlined>input {
    background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled>input {
    background: var(--omrs-color-bg-low-contrast);
}

.selectdiv {
    position: relative;
    float: left;
    min-width: 200px;
}

select::-ms-expand {
    display: none;
}

.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

.effect-4{
    border: 0;
    padding: 5px 0 7px;
    border: 1px solid transparent;
    border-bottom-color: #ccc;
    transition: 0.4s;
}

.effect-4:focus {
    padding: 5px 14px 7px;
    transition: 0.4s;
}
