<!DOCTYPE html>
<html>
    <head>
        <link type = "text/css" rel = "stylesheet" href = "./style/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="head">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <div class="body">
            <div class="button"></div>
            <div class="files"></div>
            <div class="pages"></div>
        </div>
        <div class="contextMenu">
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    <script src="./js/main.js"></script>
    </body>
</html>